@import "tailwindcss";
@import '../../packages/components/atoms/button/src/Button.module.css';
@import '../../packages/components/atoms/badge/src/Badge.module.css';
@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-custom-border_default: #D9D9D9;
  --color-custom-border_tertiary: #DFE5E8;
  --color-custom-primary: #001A41;
  --color-custom-secondary: #718290;
  --color-custom-red: #FF0025;
  --color-custom-default: #EEEFF2;
  --color-custom-success: #D0FBE0;
  --color-custom-disabled: #D1D3DB;
  --color-custom-grey: #BFC9D0;
  --color-custom-warm: #F9FAFB;
  --color-custom-warning: #FFFBEC;
  --color-custom-error: #B71932;
  --color-custom-info: #EBF9FF;
  --color-custom-system_info: #0050AE;
  --color-custom-text-disabled: #97A6B1;
  --color-custom-text-primary: #001A41;
  --color-custom-text-secondary: #97A6B1;
  --color-custom-text-secondary-light: #44515D;
  --color-custom-text-info-link: #0050AE;
  --color-custom-bar-active: #CD3266;
  /* ... */
}